In [1]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [6]:
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [7]:
target = df.Survived

In [8]:
inputs = df.drop('Survived',axis='columns')

In [12]:
dummies = pd.get_dummies(inputs.Sex,dtype=int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [24]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [25]:
inputs.drop('Sex',axis=1,inplace=True)

In [26]:
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [27]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [28]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [29]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(5)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.2)

In [31]:
len(X_train)

712

In [32]:
len(X_test)

179

In [33]:
len(inputs)

891

In [34]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [35]:
model.fit(X_train, y_train)

GaussianNB()

In [36]:
model.score(X_test,y_test)

0.8379888268156425

In [37]:
X_test[:10]

     Pclass        Age     Fare  female  male
401       3  26.000000   8.0500       0     1
90        3  29.000000   8.0500       0     1
131       3  20.000000   7.0500       0     1
768       3  29.699118  24.1500       0     1
138       3  16.000000   9.2167       0     1
35        1  42.000000  52.0000       0     1
395       3  22.000000   7.7958       0     1
8         3  27.000000  11.1333       1     0
877       3  19.000000   7.8958       0     1
655       2  24.000000  73.5000       0     1

In [38]:
y_test[:10]

401    0
90     0
131    0
768    0
138    0
35     0
395    0
8      1
877    0
655    0
Name: Survived, dtype: int64

In [39]:
 model.predict(X_test[:10])

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0])

In [41]:
model.predict_proba(X_test[:10])

array([[0.98799128, 0.01200872],
       [0.98860541, 0.01139459],
       [0.98619936, 0.01380064],
       [0.98848116, 0.01151884],
       [0.98475314, 0.01524686],
       [0.87351322, 0.12648678],
       [0.98691041, 0.01308959],
       [0.12796956, 0.87203044],
       [0.98590094, 0.01409906],
       [0.90078037, 0.09921963]])